body {
  background-image: url(bg.png);
  background-color: silver;
  background-repeat: repeat-x;
}
h1 {
  text-align: center;
  font-family: Monospace;
  font-size: 35px;
  top: 150px;
}
h4 {
  text-align: center;
  font-family: Monospace;
  font-size: 25px;
  background-color: silver;
  border-color: black;
}
h3 {
  font-family: Monospace;
  font-size: 20px;
}
p {
  font-family: Sans-Serif;
  font-size: 15px;
}
li {
  font-size: 5px;
  font-family: Monospace;
  text-align: center;
  background-image: white;
}
img {
  position:absolute; /* atau absolute, fixed, atau sticky */
  left: 430px; /* Jarak dari kiri */
  top: 150px;
}